.swal2-shown {
  .swal2-container {
    z-index: 1501; // Mui zIndex tooltip + 1
    padding: 0;

    // * {
    //   font-family: $typography;
    // }

    .swal2-popup {
      width: 450px;
    }

    .swal2-title {
      font-size: 1.2rem;
      margin-bottom: 0.75rem;
      padding: 0 1em 0;
    }

    .swal2-html-container {
      margin: 0;
      font-size: 0.87rem;
      padding: 0 2rem;
      line-height: 1.4;
    }

    button {
      font-family: $typography;
      min-width: 100px;
      font-size: 0.86rem !important;

      &:focus {
        box-shadow: none !important;
      }

    }

    .swal2-styled {
      &.swal2-confirm {
        background-color: $primary-color-main;
        color: $primary-color-contrast-text;
      }
    }

    .swal2-icon {
      width: 3.6rem;
      height: 3.6rem;
      margin: 2.5em auto 1em;

      .swal2-icon-content {
        font-size: 2.75em;
      }

      // Swall error icon
      &.swal2-error {
        border-color: #ff1515 !important;

        [class^='swal2-x-mark-line'] {
          display: block;
          position: absolute;
          top: 1.66em;
          width: 2em;
          height: 0.25em;
          border-radius: 0.125em;
          background-color: #ff1515 !important;
        }

        [class^='swal2-x-mark-line'][class$='left'] {
          left: 0.85em;
          transform: rotate(45deg);
        }

        [class^='swal2-x-mark-line'][class$='right'] {
          right: 0.85em;
          transform: rotate(-45deg);
        }
      }

      // Swall success
      &.swal2-success {
        [class^='swal2-success-line'] {
          background-color: #03ce1e;
        }

        .swal2-success-ring {
          border: 0.25em solid #03ce1e;
        }

        [class^='swal2-success-line'][class$='tip'] {
          top: 1.7em;
          left: 1.24em;
          width: 2em;
          transform: rotate(-45deg);
        }

        [class^='swal2-success-line'][class$='long'] {
          top: 2em;
          left: 0.55em;
          width: 1.3em;
          transform: rotate(45deg);
        }

        // Disable animation icon.
        * {
          animation: none !important;
        }
      }

      // Swalll info
      &.swal2-info {
        border-color: #009aff;
        color: #009aff;
      }

      // Swall warning
      &.swal2-warning {
        border-color: #ff9027;
        color: #ff9027;
      }
    }
  }
}