$background-default: #fbfbfb;
$background-paper: #fff;

$primary-color-light: #daeeff;
$primary-color-main: #4790ff;
$primary-color-dark: #2352b7;
$primary-color-contrast-text: #fbfbfb;

$secondary-color-light: #ffddaa;
$secondary-color-main: #ff872c;
$secondary-color-dark: #db6620;
$secondary-color-contrast-text: #fbfbfb;
