@import 'colors';
@import 'variables';
@import 'scrollbar';
@import 'overrides/all';
@import 'global';

// Libs styles.
@import 'lib/all';

html {
  font-size: 15px;
}

// body {
//   font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, sans-serif, 'Apple Color Emoji',
//     'Segoe UI Emoji';
//   font-size: 14px;
//   line-height: 1.5;
//   color: var(--color-fg-default);
//   background-color: var(--color-canvas-default);
// }
